h1{color: rgb(0, 255, 238);}
p{color: cadetblue;}
body{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/007/677/104/small_2x/white-background-with-blue-geometric-and-white-line-pattern-free-vector.jpg);
background-repeat: no-repeat;background-size: cover;}
img{size: 500px;}